<section class="contenido-principal">
  <h1>
    {{ title }}
  </h1>
  <p>
    {{ subTitle }}
  </p>
  <h4 id="titulo-form">Session: {{ isCheck | json }}</h4>
  <article class="contenedor-form">
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="sendLogin()">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              class="form-control"
              type="email"
              name="email"
              formControlName="email"
              placeholder="Ingrese su email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              class="form-control"
              type="password"
              name="password"
              formControlName="password"
              placeholder="Ingrese su password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <p class="mt-3">
          {{ this.form.value | json }}
        </p>
      </div>
    </div>
  </article>
</section>
